---
version: "3"
services:
  portainer_server:
    image: portainer/portainer-ce:latest
    container_name: portainer_server
    ports:
      - 8000:8000
      - 9000:9000
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/local/bin/portainer_agent/data:/data

  nginx01:
    image: nginx:latest
    container_name: nginx01
    ports:
      - 8081:80
  nginx02:
    image: nginx:latest
    container_name: nginx02
    ports:
      - 8082:80
  nginx03:
    image: nginx:latest
    container_name: nginx03
    ports:
      - 8083:80
  nginx04:
    image: nginx:latest
    container_name: nginx04
    ports:
      - 8083:80

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - 3000:3000
